<div class="card animated fadeIn fast">
    <img [src]="gato.img" class="card-img-top img-fluid animated fadeIn" alt="...">
    <div class="card-body animated fadeIn">
        <h4 class="card-title">{{gato.nombre }}</h4>
        <p class="card-text">{{gato.bio}}</p>
        <p class="card-text"><small class="text-muted">{{gato.origen}}</small></p>

        <button (click)="verGato()" type="button" class="btn colorbtn btn-block">Ver más...</button>

        <!-- <a [routerLink]="['/gato',id]" class="btn btn-outline-dark">Ver más link...</a> -->
    </div>

</div>